.icon-container {
    border: 2px solid #F6F6F6; /* Adjust border color as needed */
    border-radius: 50%; /* Makes the border rounded */
    padding: 5px; /* Adjust padding as needed */
    background: var(--Neutral-Gray--50, #F6F6F6);
  }
  